@media screen and (max-width : 1450px) {

	.menu-logo {
		padding: 28px 60px 0 57px;
	}

	.btn-menu a {
		margin: 0px 52px 0px 0px;
	}

	.main {
		padding-left: 94px;
	}

	.main-scroll {
	    text-align: start;
		margin-left: 313px;
	}
}

@media screen and (max-width : 320px) {
	.site {
		max-width: 320px;
	}

	.container-menu{
		width: 100%;
		display: inline-block;	
	} 

	.menu, .menu-main {
		display: inline-block
	}

	.menu-logo {
		padding: 28px 10px 30px 20px;
	}

	.btn-menu a {
		margin: 0 0 0 30px;
	}

	.main {
		display: inline-block;
		margin: 0 auto;
		padding-top: 40px;
		padding-left: 0px;
		width: 300px;
	}

	.turnkey-repair {
		z-index: 0;
		width: 300px;
		padding-right: 0;
	}

	.turnkey-repair-header {
		padding-left: 20px;
	}

	.turnkey-repair-text {
		width: 90%;
		padding-left: 20px;
	}
	.turnkey-repair-line {
		padding-left: 20px;
		margin-top: -10px;
	}

	.turnkey-repair-icons {
		padding-left: 5px;
		display: inline;
	}

	.turnkey-repair-icon {
		width: 55%;
		padding-left: 15px;
	}

	.calculate-price {
		z-index: 0;
		background-color: #FFFFFF;
		border-radius: 10px;
		margin-left: 14px;
		height: 690px;
		width: 290px;
	}
	
	.apartment-area {
		display: inline-block;
	}

	.apartment-slider2 {
		margin-left: -120px;
	}

	.apartment-slider3 img{
		width: 125px;
		height: 12px;
	}

	.btn-main {
		padding-top: 8px;
		padding-left: 50px;
	}

	.main-photo img {
		width: 310px;
		padding-left: 15px;
		margin-left: 0;
		margin-top: 23px;
	}

	.main-scroll {
		text-align: center;
		margin-top: 34px;
		padding-bottom: 35px;
		margin-left: 0px;
	}
}	

@media screen and (max-width : 500px) {

	.site {
		max-width: 420px;
	}

	.container-menu{
		width: 100%;
		display: inline-block;	
	} 

	.menu, .menu-main {
		display: inline-block
	}

	.menu-logo {
		padding: 28px 10px 30px 20px;
	}

	.btn-menu a {
		margin: 0 0 0 30px;
	}

	.main {
		display: inline-block;
		margin: 0 auto;
		padding-top: 40px;
		padding-left: 0px;
		width: 300px;
	}

	.turnkey-repair {
		z-index: 0;
		width: 300px;
		padding-right: 0;
	}

	.turnkey-repair-header {
		padding-left: 20px;
	}

	.turnkey-repair-text {
		width: 90%;
		padding-left: 20px;
	}
	.turnkey-repair-line {
		padding-left: 20px;
		margin-top: -10px;
	}

	.turnkey-repair-icons {
		padding-left: 5px;
		display: inline;
	}

	.turnkey-repair-icon {
		width: 55%;
		padding-left: 15px;
	}

	.calculate-price {
		z-index: 0;
		background-color: #FFFFFF;
		border-radius: 10px;
		margin-left: 14px;
		height: 690px;
		width: 290px;
	}
	
	.apartment-area {
		display: inline-block;
	}

	.apartment-slider2 {
		margin-left: -120px;
	}

	.apartment-slider3 img{
		width: 125px;
		height: 12px;
	}

	.btn-main {
		padding-top: 8px;
		padding-left: 50px;
	}

	.main-photo img {
		width: 310px;
		padding-left: 15px;
		margin-left: 0;
		margin-top: 23px;
	}

	.main-scroll {
		text-align: center;
		margin-top: 34px;
		padding-bottom: 35px;
		margin-left: 0px;
	}
}

@media screen and (max-width : 800px) {

	.site {
		max-width: 78s0px;
	}

	.container-menu{
		width: 100%;
		display: inline-block;	
	} 

	.menu, .menu-main {
		display: inline-block
	}

	.menu-logo {
		padding: 28px 10px 30px 20px;
	}

	.btn-menu a {
		margin: 0 0 0 30px;
	}

	.main {
		display: inline-block;
		margin: 0 auto;
		padding-top: 40px;
		padding-left: 0px;
		width: 300px;
	}

	.turnkey-repair {
		z-index: 0;
		width: 300px;
		padding-right: 0;
	}

	.turnkey-repair-header {
		padding-left: 20px;
	}

	.turnkey-repair-text {
		width: 90%;
		padding-left: 20px;
	}
	.turnkey-repair-line {
		padding-left: 20px;
		margin-top: -10px;
	}

	.turnkey-repair-icons {
		padding-left: 5px;
		display: inline;
	}

	.turnkey-repair-icon {
		width: 55%;
		padding-left: 15px;
	}

	.calculate-price {
		z-index: 0;
		background-color: #FFFFFF;
		border-radius: 10px;
		margin-left: 14px;
		height: 690px;
		width: 290px;
	}
	
	.apartment-area {
		display: inline-block;
	}

	.apartment-slider2 {
		margin-left: -120px;
	}

	.apartment-slider3 img{
		width: 125px;
		height: 12px;
	}

	.btn-main {
		padding-top: 8px;
		padding-left: 50px;
	}

	.main-photo img {
		width: 310px;
		padding-left: 15px;
		margin-left: 0;
		margin-top: 23px;
	}

	.main-scroll {
		text-align: center;
		margin-top: 34px;
		padding-bottom: 35px;
		margin-left: 0px;
	}
}





